.App {
  padding: 1em;
}

.face {
  padding: 0;
}

.face svg {
  display: block;
}

.adjacent_ok {
  background-color: green;
}

.adjacent_bad {
  background-color: red;
}

.selected {
  outline: 6px solid rgb(255 160 0 / 75%);
}
